.table-td-area {
    border: 1px solid #b6b6b6;
    text-align: left;
    padding: 0 30px;
}

.table-td-area__center {
    text-align: center;
}

.root-field-area {
    width: 100%;
    font-size: 20px;
    color: #000;
    border: none;
}