.rectangle-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 681px;
  height: 10px;
  background-color: #f0f0f0;
  }

.cell {
  flex: 1;
  background-color:#FFAE12;
  ; 
  text-align: center;
  padding: 10px;
}
.cell-first {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.cell-last {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
