.rectangle-flex {
  position: relative;
  width: 681px;
  height: 26px;
  }
.rectangle-gray{
  background-color:#E3E3E3;
  width: 100%;
  height: 100%;
  border-radius: 34px;
}
.rectangle-yellow{
  background-color:#FFAE12;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 34px;
}
